body {
  color-scheme: light;
  color: var(--base-color);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a{
  text-decoration: none;
}
