@use '@angular/material' as mat;
@use "vars";
@use 'base';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: (
        plain-family: Inter,
        brand-family: Inter,
        regular-weight: 400,
        medium-weight: 500,
        bold-weight: 600,
      ),
      density: 0,
    )
  );
}
